<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.elearnna.www.wififingerprint">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>


    <application
        android:name=".app.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme_Material_Dark">
        <activity
            android:name=".activities.APsList"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.APDetail"
            android:label="@string/ap_detail_activity_title"
            android:parentActivityName=".activities.APsList" />
        <activity
            android:name=".activities.DeviceInfo"
            android:label="@string/device_info_activity_title"
            android:parentActivityName=".activities.APsList" />
        <activity
            android:name=".activities.About"
            android:label="@string/about_activity_title"
            android:parentActivityName=".activities.APsList" />
        <activity
            android:name=".activities.StoredFiles"
            android:label="@string/stored_files_activity_title"
            android:configChanges="keyboardHidden|screenSize"
            android:parentActivityName=".activities.APsList" />
        <activity
            android:name=".activities.Settings"
            android:label="@string/settings_activity_title"
            android:parentActivityName=".activities.APsList"
            android:theme="@style/AppTheme"></activity>

        <provider
            android:authorities="com.elearnna.www.wififingerprint.provider.APContentProvider"
            android:name=".provider.APContentProvider"
            android:exported="true"
            android:multiprocess="true"/>

        <service android:name=".service.APsFingerprintService"/>
        <provider
            android:name=".provider.GenericFileProvider"
            android:authorities="com.elearnna.www.wififingerprint.provider.GenericFileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
            android:name="android.support.FILE_PROVIDER_PATHS"
            android:resource="@xml/provider_paths"/>
            </provider>

        <service android:name=".widget.WidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS"/>

        <receiver
            android:icon="@drawable/launcher_icon"
            android:label="Wifi Widget"
            android:name=".widget.WifiWidgetProvider" >
            <intent-filter >
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info" />
        </receiver>
    </application>

</manifest>